# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
            -os ${target.os} -ws ${target.ws} -arch x86_64 -nl ${target.nl} -consoleLog -console -e "10.10.0.200:16196" ^
            -passticket ^
            -f "C:\runtime\GitHubAction_workspace\CWKTCOBX\Tests\Scenarios" ^
            -R -g TTTReport -G -v 6 -l CLI ^
            -log DEBUG ^
            -cfgdir "C:\runtime\GitHubAction_workspace\TotalTestConfiguration" ^
            -ccrepo "pinaka0.totaltst.ccrepo"
            -ccsystem "Passticket" ^
            -cctestid "01"
          echo Add other actions to build,
          echo test, and deploy your project.
